$pink: rgb(252, 0, 197);
$purple: rgb(162, 0, 255);
$blue: #0000ff;


// @keyframes circle1 {
// 	0% {

// 	}
// 	50% {

// 	}
// 	100% {

// 	}
// }

// .cercle1 {
// 	display: block;
// 	overflow: hidden;
// 	max-width: 200px;
// 	max-height: 200px;
// 	margin: auto;
// 	div {
// 		border-radius: 50%;
// 		border-top: solid 3px;
// 		padding: 11px;
// 		box-sizing: border-box;
// 	}
// }



























@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes rotate2 {
	0% {
		transform: rotate(0deg);
		border-top-color: $pink;
	}
	50% {
		transform: rotate(180deg);
		border-top-color: $blue;
	}
	100% {
		transform: rotate(360deg);
		border-top-color: $purple;
	}
}

* {
	box-sizing: border-box;
}


@mixin loaderDivMixin {
}

.loader {
	position: relative;
	margin: 75px auto;
	width: 150px;
	height: 150px;
	display: block;
	overflow: hidden;
	div {
		height: 100%;
	}
}


/* loader 4 */
.loader4, .loader4 div {
	// @include loaderDivMixin;
	border-radius: 50%;
	padding: 8px;
	border: 2px solid transparent;
	animation: rotate linear 3.5s infinite;
//_______________________________________//
	border-radius: 50%;
	padding: 4px;
	animation: rotate2 4s infinite linear;
}

.loader, .loader * {
	will-change: transform;
}
